$color-black: #070707;
$color-orange: #e67008;
$color-light: #a05c24;
$color-white: #ddccb2;
$horizontal-gradient: linear-gradient(to right, #a05c24 10%, #e67008 90%);
$vertical-bottom-gradient: linear-gradient(to bottom, #a05c24 10%, #e67008 90%);
$vertical-top-gradient: linear-gradient(to top, #a05c24 10%, #e67008 90%);
$br-horizontal-gradient: right, #a05c24 10%, #e67008 90%;
$br-vertical-bottom-gradient: bottom, #a05c24 10%, #e67008 90%;
$br-vertical-top-gradient: top, #a05c24 10%, #e67008 90%;
